@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* App.css */

body {

  font-family: 'Roboto', sans-serif;
}

.create-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0; /* Set your desired background color */
}

form {
  background-color: #fff; /* Set your desired background color for the form */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.errorLabel {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
}

.base-button {
  background-color: blue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-button {
  background-color: #f44336;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.description{
   height: 100px;
   width: 100px;
   resize: none;
}

.create-button {
  background-color: gray;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}